body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  max-width: 100%;
  margin: auto;
  padding: 0 0;
}

/*------------------------NavMenu Component-----------------------------------*/
.nav-container {
  background-color: #353535;
  height: 58px;
  margin: 0 -15px 0px -15px;
}

.navbar-header > a.navbar-brand {
  font-weight: 900;
  font-size: 25px;
  color: white;
  padding-top: 0px;
}

.navbar-header > a.selected.navbar-brand {
  color: #F4DA9D;
  text-decoration: none;
}

div.navbar-collapse.collapse {
  float: right;
  padding-top: 8px;
}

div.navbar-collapse.collapse > a {
  font-size: 25px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

div.navbar-collapse.collapse > a:hover {
  text-decoration: none;
  color: #F4DA9D;
  padding-bottom: 14px;
  border-bottom: 4px solid #F4DA9D;
}

div.navbar-collapse.collapse > a.selected {
  font-weight: 900;
  color: #F4DA9D;
  text-decoration: none;
  background-color:rgba(240, 240, 245, 0.1);
  padding-bottom: 14px;
  border-bottom: 4px solid #F4DA9D;
}

/*Media Query Settings*/
@media screen and (max-width: 767px){
  .navbar-header {
      padding-bottom: 0px;
      border-bottom: 1px solid #353535;
  }

  button.navbar-toggle:hover,
  button.navbar-toggle:focus {
    background-color: #353535 !important;
    border: 1.5px solid #F4DA9D !important;
  }

  button.navbar-toggle.collapsed {
    color: #353535;
    border: 1.5px solid white;
  }

  span.icon-bar {
    border: 1px solid white;
  }

  div.navbar-collapse.collapse.in {
      margin-top: 5px;
      border-top: 1px solid #353535;
  }

   a.navbar-brand {
    color: white;
  }

  div.navbar-collapse.collapse {
    background-color:#353535;
    margin: 0px -15px 0px -15px;
  }

  div.navbar-collapse.collapsing {
    display: none;
  }

  div.navbar-collapse.collapse.in > a {
    float: left;
    display: block;
    padding-right: 400px;
    width: 300px;
  }

  div.navbar-collapse.collapse > a:hover {
    text-decoration: none;
    color: #F4DA9D;
  }

  div.navbar-collapse.collapse > a.selected {
    color: #F4DA9D;
    text-decoration: none;
    background-color: #353535;
    border-bottom: none;
  }

  div.navbar-collapse.collapse > a {
    padding-top: 10px;
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 420px){
  div.navbar-collapse.collapse > a {
    margin-right: -80px;
  }
}

@media screen and (max-width: 340px){
  div.navbar-collapse.collapse > a {
    margin-right: -100px;
  }
}

@media screen and (max-width: 320px){
  div.navbar-collapse.collapse > a {
    margin-right: -120px;
  }
}

@media screen and (max-width: 300px){
  div.navbar-collapse.collapse > a {
    margin-right: -140px;
  }
}

@media screen and (max-width: 280px){
  div.navbar-collapse.collapse > a {
    margin-right: -160px;
  }
}

/*------------------------End of NavMenu Component----------------------------*/


/*------------------------Footer Component------------------------------------*/
.nav-footer {
    margin-top: 0px;
}

.keep-in-touch-container {
    padding-bottom: 10px;
    background-color: #353535;
}

img.background-footer {
   background-image: url('./img/mid_dark.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 130px;
   width: 100%;
}

.text-in-keep-in-touch-container {
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin-top: -80px;
    margin-bottom: 30px;
}

.social-link-container {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #353535;
}

i.social-link {
    font-size: 60px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

i.social-link:hover,
i.social-link:focus {
    color: #F4DA9D;
    cursor: pointer;
}

.contact-detail-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #353535;
}

.text-in-contact-detail-container {
    font-size: 35px;
    font-weight: 900;
    color: white;
}

.address-contact-detail-container {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

/*Media Query Settings*/
@media screen and (max-width: 500px){
    img.background-footer {
       height: 80px;
    }

    .text-in-keep-in-touch-container {
        padding-top: 25px;
        font-size: 28px;
    }
}

@media screen and (max-width: 400px){
    .text-in-keep-in-touch-container {
        font-size: 25px;
    }

    i.social-link {
        font-size: 50px;
    }

    .text-in-contact-detail-container {
        font-size: 28px;
    }

    .address-contact-detail-container {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px){
    .text-in-keep-in-touch-container {
        font-size: 23px;
    }

    .text-in-contact-detail-container {
        font-size: 27px;
    }

    .address-contact-detail-container {
        font-size: 15px;
    }
}

@media screen and (max-width: 300px){
    .text-in-keep-in-touch-container {
        font-size: 20px;
    }

    .text-in-contact-detail-container {
        font-size: 25px;
    }

    .address-contact-detail-container {
        font-size: 14px;
    }
}

/*-------------------------End of Footer Component----------------------------*/



/*-------------------------Collapse Component---------------------------------*/
.Collapsible {
    /*collapsed container*/
    background-color: #FADA9D;
}

.Collapsible__contentInner {
    padding: 10px;
    /*border of collapsed container*/
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
    border-top: 0;
}

.Collapsible__contentInner p {
    /*content inside collapsed container*/
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
}

.Collapsible__contentInner p:last-child {
    margin-bottom: 5px;
}

.Collapsible__trigger {
    /*Non-collapsed container*/
    display: block;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    border-bottom: 1px solid white;
    padding: 10px;
    background: #353535;
}

.Collapsible__trigger:hover {
    cursor: pointer;
}

.Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    color: white;
    position: absolute;
    font-weight: 900;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
}

/*Not is use
.Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
}

.CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
    background-color: darkslateblue;
}
*/
/*------------------------End of Collapse Component---------------------------*/

/*-----------------------FaqPage----------------------------------------------*/
div.section-1-faq {
    position: relative;
}

img.background-faq {
     background-image: url('./img/backgroundfaqcontact.jpg');
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     height: 300px;
     width: 100%;
}

div.background-caption-faq {
    display: block;
    margin: 0 auto;
    z-index: 10;
}

h1.h1-faq {
    font-size: 60px;
    font-weight: 900;
    margin-top: -150px;
}

img.background-caption-faq {
    margin-top: -230px;
    margin-bottom: 170px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

.accordion-wrapper {
    padding-top: 50px;
    background-color: #FADA9D;
    padding-bottom: 50px;
}

.accordion-container {
    width: 65%;
}

span.Collapsible__trigger.is-open,
div.Collapsible__contentInner {
    margin-top: 100px;
    width: 65%;
    margin: 0 auto;
}

/*Media Query Settings*/
@media screen and (max-width: 1388px){
  .accordion-container {
      width: 85%;
  }

  span.Collapsible__trigger.is-open,
  div.Collapsible__contentInner {
      width: 85%;
  }
}

@media screen and (max-width: 980px){
  .Collapsible__contentInner p {
      font-size: 22px;
  }

  .Collapsible__trigger {
      font-size: 18px;
  }
}

@media screen and (max-width: 980px){
  .Collapsible__contentInner p {
      font-size: 21px;
  }

  .Collapsible__trigger {
      font-size: 17px;
  }
}

@media screen and (max-width: 630px){
  .accordion-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .Collapsible__contentInner p {
      font-size: 20px;
  }

  .Collapsible__trigger {
      font-size: 16px;
  }
}

@media screen and (max-width: 767px){
    img.background-faq {
       height: 300px;
    }

    div.background-caption-faq {
        margin-top: 30px;
    }

    h1.h1-faq {
        margin-top: -150px;
        font-size: 45px;
    }
}

@media screen and (max-width: 500px){
  .accordion-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .accordion-container {
      width: 100%;
  }

  span.Collapsible__trigger.is-open,
  div.Collapsible__contentInner {
      width: 100%;
  }

  .Collapsible__contentInner p {
      font-size: 19px;
  }

  .Collapsible__trigger {
      font-size: 15px;
  }
}

@media screen and (max-width: 400px){
  .accordion-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .Collapsible__contentInner p {
      font-size: 18px;
  }

  .Collapsible__trigger {
      font-size: 14px;
  }
}

@media screen and (max-width: 350px){
  .accordion-wrapper {
      padding-top: 25px;
      padding-bottom: 10px;
  }

  .Collapsible__contentInner p {
      font-size: 17px;
  }

  .Collapsible__trigger {
      font-size: 13px;
  }
}

@media screen and (max-width: 300px){
  .accordion-wrapper {
      padding-top: 40px;
      padding-bottom: 10px;
  }
}

@media screen and (max-width: 250px){
  .accordion-wrapper {
      padding-top: 60px;
      padding-bottom: 10px;
  }
}
/*-----------------------End of FaqPage---------------------------------------*/

/*------------------------ContactPage-----------------------------------------*/
div.section-1-contact {
    position: relative;
}

img.background-contact {
     background-image: url('./img/backgroundfaqcontact.jpg');
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     height: 300px;
     width: 100%;
}

div.background-caption-contact {
    display: block;
    margin: 0 auto;
    z-index: 10;
}

h1.h1-contact {
    font-size: 60px;
    font-weight: 900;
    margin-top: -150px;
}

img.background-caption-contact {
    margin-top: -230px;
    margin-bottom: 170px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

/*
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:100vh;
}
*/

.container-element {
    height: 550px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.map-element {
    position: relative;
    height: 550px;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 767px){
    img.background-contact {
       height: 300px;
    }

    div.background-caption-contact {
        margin-top: 30px;
    }

    h1.h1-contact {
        margin-top: -150px;
        font-size: 45px;
    }
}
/*------------------------------End of ContactPage----------------------------*/

/*-----------------------------ContactForm Component--------------------------*/
div.contact-form-container {
  margin-bottom: -20px;
  background-color: #F4DA9D;
}

div.well.well-lg {
    background-color: #353535;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 800px;
}

div.panel-body {
  width: 95%;
  max-height: 650px;
}

.form-header {
    font-size: 30px;
    font-weight: 900;
    color: white;
    padding-bottom: 5px;
}

.contact-form-panel {
  background-color: #353535;
  border: 2px solid white;
}

label.col-sm-2.col-form-label {
  font-size: 20px;
  color: white;
}

div.panel.panel-default.custom {
    border: 1px solid #353535;
}

div.formErrors > p {
  color: red;
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: pink;
}

div.col-lg-offset-2 {
  margin-top: 30px;
}

input.btn {
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #353535;
  border-radius: 8px;
  border: 3px solid white;
}

input.btn:hover,
input.btn:focus {
  color: white;
  background-color: #73BF45;
  border: 3px solid #73BF45;
}

button.btn.btn-link {
  font-size: 15px;
  font-weight: 400;
  color: white;
}

button.btn.btn-link:hover,
button.btn.btn-link:focus {
  font-weight: 700;
  color: #DD6D26;
}

/*Media Query Settings*/
@media screen and (max-width: 1200px){
  label.col-sm-2.col-form-label {
    font-size: 17px;
  }
}

@media screen and (max-width: 1050px){
  label.col-sm-2.col-form-label {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px){
  div.well.well-lg {
      max-height: 850px;
  }

  div.panel-body {
    width: 100%;
    max-height: 720px;
  }

  div.formErrors > p {
    font-size: 15px;
  }
}

@media screen and (max-width: 565px){
  div.well.well-lg {
      max-height: 900px;
  }

  div.panel-body {
    width: 100%;
    max-height: 760px;
  }
}

@media screen and (max-width: 400px){
    .form-header {
        font-size: 25px;
    }

    div.formErrors > p {
      font-size: 12px;
    }
}

@media screen and (max-width: 320px){
    .form-header {
        font-size: 23px;
    }

    div.formErrors > p {
      font-size: 10px;
    }
}

/*-------------------------End of ContactForm Component-----------------------*/

/*-------------------------HomePage-------------------------------------------*/

/*Background-Images for Home Page*/
div.section-1-home,
div.section-2-home,
div.section-4-home {
    position: relative;
}

/*1st Section aft NavMenu*/
img.background-home {
   margin-top: 58px;
   background-image: url('./img/bg_light.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 1200px;
   width: 100%;
}

div.background-caption-home {
    display: block;
    position: absolute;
    margin-top: -1180px;
    z-index: 10;
}

img.vacl-logo {
    margin: 0 auto;
}

h1.home-heading-text {
    color: #353535;
    font-weight: 700;
    font-size: 65px;
    letter-spacing: 3px;
    word-spacing: 11px;
    margin-bottom: 80px;
}

img.boom-img {
    margin: 0 auto;
}

div.button-container {
  margin-top: 80px;
}

button.learn-now-button {
  background-color: #353535;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding: 20px 60px;
}

button.learn-now-button:hover,
button.learn-now-button:focus {
  background-color: #353535;
  color: #F4DA9D;
}

h6.h6-text {
  color: #353535;
  font-weight: 500;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 20px;
}

div.sign-in-link-container {
  margin-top: -15px;
}

a.sign-in-link {
  color: #353535;
  font-weight: 700;
  font-size: 35px;
  text-decoration: underline;
}

a.sign-in-link:hover,
a.sign-in-link:focus {
   color: #73BF45;
}

/*Media Query Settings for Home Section 1*/
@media screen and (max-width: 600px){
  img.background-home {
     height: 850px;
  }

  div.background-caption-home {
      margin-top: -830px;
  }

  img.vacl-logo {
    margin-bottom: 5px;
  }

  h1.home-heading-text {
      font-size: 35px;
  }

  img.boom-img {
      margin-top: -85px;
  }

  div.button-container {
    margin-top: 30px;
  }

  button.learn-now-button {
    font-size: 30px;
    padding: 20px 50px;
  }
}

@media screen and (max-width: 500px){
  img.background-home {
     height: 820px;
  }

  div.background-caption-home {
      margin-top: -780px;
  }

  img.boom-img {
      margin-top: -35px;
  }

  button.learn-now-button {
    font-size: 30px;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 400px){
  img.background-home {
     height: 800px;
  }

  div.background-caption-home {
      margin-top: -800px;
  }

}

@media screen and (max-width: 300px){
  img.background-home {
     height: 650px;
  }

  div.background-caption-home {
      margin-top: -630px;
  }

  button.learn-now-button {
    font-size: 20px;
    padding: 10px 20px;
  }
}

/*2nd Section aft NavMenu*/
img.background-home-2 {
   background-image: url('./img/bg_dark.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 650px;
   width: 100%;
}

div.background-caption-home-2 {
    display: block;
    position: absolute;
    margin-top: -600px;
    z-index: 10;
}

h1.home-heading-text-2 {
    color: white;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

p.caption-home-2-p {
    color: white;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 40px;
}

div.caption-home-2-img {
    margin-top: 0px;
}

/*Media Query Settings for Home Section 2*/
@media screen and (max-width: 1450px){
  img.background-home-2 {
     height: 800px;
  }

  div.background-caption-home-2 {
      margin-top: -750px;
  }
}

@media screen and (max-width: 1200px){
  img.background-home-2 {
     height: 900px;
  }

  div.background-caption-home-2 {
      margin-top: -850px;
  }
}

@media screen and (max-width: 1000px){
  img.background-home-2 {
     height: 1000px;
  }

  div.background-caption-home-2 {
      margin-top: -950px;
  }
}

@media screen and (max-width: 850px){
  img.background-home-2 {
     height: 1200px;
  }

  div.background-caption-home-2 {
      margin-top: -1150px;
  }
}

@media screen and (max-width: 380px){
  img.background-home-2 {
     height: 1400px;
  }

  div.background-caption-home-2 {
      margin-top: -1350px;
  }
}

@media screen and (max-width: 280px){
  img.background-home-2 {
     height: 1500px;
  }

  div.background-caption-home-2 {
      margin-top: -1450px;
  }
}

/*3rd Section aft NavMenu*/
img.background-home-3 {
   background-image: url('./img/bg_light.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 80px;
   width: 100%;
}

/*4th Section aft NavMenu*/
img.background-home-4 {
   background-image: url('./img/bg_dark.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 550px;
   width: 100%;
}

div.background-caption-home-4 {
    display: block;
    position: absolute;
    margin-top: -500px;
    z-index: 10;
}

h1.home-heading-text-4 {
    color: white;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

p.caption-home-4-p:first-child {
    margin-top: 50px;
}

p.caption-home-4-p {
    color: white;
    font-weight: 400;
    font-size: 25px;
}

p.caption-home-4-pb {
    color: white;
    font-weight: 900;
    font-size: 25px;
}

div.caption-home-4-img {
    margin-top: 40px;
}

/*Media Query Settings for Home Section 4*/
@media screen and (max-width: 767px){
  img.background-home-4 {
     height: 1000px;
  }

  div.background-caption-home-4 {
      margin-top: -950px;
  }
}

/*5th Section aft NavMenu*/
img.background-home-5 {
   background-image: url('./img/mid_dark.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 130px;
   width: 100%;
}

/*------------------------------End of HomePage-------------------------------*/
